@using WebApplication1.Models
@using WebApplication1.Code

@model List<Customer>

@functions{
    public void OnCustomColumnDisplayText(object sender, ASPxGridViewColumnDisplayTextEventArgs e) {
        if (e.Column.FieldName != "Licenses" || e.Value == null) return;
        e.DisplayText = ValueAndDisplayTextHelper.GetDisplayTextString(e.Value.ToString());
    }
}

@Html.DevExpress().GridView(settings => {
    settings.Name = "GridView1";
    settings.KeyFieldName = "CustomerID";
    settings.CallbackRouteValues = new { Controller = "Home", Action = "GridViewPartial" };
    settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Home", Action = "GridViewAddNewPartial" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Home", Action = "GridViewUpdatePartial" };
    settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Home", Action = "GridViewDeletePartial" };
    settings.CommandColumn.Visible = true;
    settings.CommandColumn.ShowEditButton = true;
    settings.CommandColumn.ShowNewButtonInHeader = true;
    settings.CustomColumnDisplayText = OnCustomColumnDisplayText;
    settings.Columns.Add("CustomerID", MVCxGridViewColumnType.TextBox);
    settings.Columns.Add("CustomerName", MVCxGridViewColumnType.TextBox);
    settings.Columns.Add(col => {
        col.FieldName = "Licenses";
        col.ColumnType = MVCxGridViewColumnType.TextBox;
        col.SetEditItemTemplateContent(tc => {
            //DropDownEdit
            Html.DevExpress().DropDownEdit(ddeSettings => {
                ddeSettings.Name = "DropDownEdit1";
                ddeSettings.Width = new Unit(100, UnitType.Percentage);
                ddeSettings.Properties.ClientSideEvents.TextChanged = "synchronizeTreeListValues";
                ddeSettings.Properties.ClientSideEvents.DropDown = "synchronizeTreeListValues";
                ddeSettings.Properties.ClientSideEvents.QueryCloseUp = "OnDropDownEditQueryClose";
                ddeSettings.SetDropDownWindowTemplateContent(ddec => {
                    //TreeList
                    Html.ViewContext.Writer.Write("<div class='ctrlContainer'>");
                    Html.RenderAction("TreeListPartial");
                    Html.ViewContext.Writer.Write("</div>");
                    //Button
                    Html.ViewContext.Writer.Write("<div class='ctrlContainer'>");
                    Html.DevExpress().Button(btnSettings => {
                        btnSettings.Name = "confirmBtn";
                        btnSettings.Text = "OK";
                        btnSettings.Width = new Unit(98, UnitType.Percentage);
                        btnSettings.Style.Add(HtmlTextWriterStyle.Margin, "0px!important");
                        btnSettings.ClientSideEvents.Click = "OnConfirmBtnClick";
                    }).Render();
                    Html.ViewContext.Writer.Write("</div>");
                });
                ddeSettings.Init = (s, e) => {
                    MVCxDropDownEdit dde = (MVCxDropDownEdit)s;
                    var value = DataBinder.Eval(tc.DataItem, "Licenses");
                    dde.Value = value == null ? null : ValueAndDisplayTextHelper.GetDisplayTextString(value.ToString());
                };
            }).Render();

        });
    });
}).Bind(Model).GetHtml()
